<footer>
    <section>
        <h4>Services</h4>
        <ul>
            <li>Digital consulting</li>
            <li>CMS Selectie</li>
            <li>IT Roadmap</li>
            <li>Full stack web development</li>
        </ul>
    </section>

    <section>
        <h4>
            Composable
        </h4>
        <ul>
            <li>Best of Breed</li>
            <li>API-first</li>
            <li>Cloud native</li>
            <li>Headless CMS</li>
        </ul>
    </section>

    <section>
    <h4>Commerce</h4>
        <ul>
            <li>B2B Commerce</li>
            <li>B2C Commerce</li>
            <li>Composable Commerce</li>
            <li>Business portalen</li>
        </ul>
    </section>

    <section>
        <h4>Partners</h4>
        <ul>
            <li>Contentful</li>
            <li>Storyblok</li>
            <li>Contentstack</li>
            <li>Commmerce Layer</li>
            <li>BigCommerce</li>
            <li>Algolia</li>
        </ul>
    </section>

    <section>
        <h4>Cases</h4>Unbrick
        <ul>
            <li>Milieu Service Nederland</li>
            <li>Fit For Free</li>
            <li>Campercontact</li>
            <li>Mediahuis</li>
            <li>TimeMoto</li>
        </ul>
    </section>

    <section>
        <h4>Over ons</h4>Contact
        <ul>
            <li>Careers</li>
            <li>ISO 27001</li>
            <li>Blog</li>
            <li>Downloads</li>
        </ul>
    </section>
</footer>