<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Touchtribe webshop for employees">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/script/client.js" defer></script>
    <title>Webshop - Touchtribe</title>
  </head>
  <body> 