@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --inter: "Inter", sans-serif;
    --inter-tight: "Inter Tight", sans-serif;

    --primary-one: #414141;
    --primary-two: #fff;

    --space-big: 1.6rem;
    --space-reg: 1rem;
    --space-half: 0.5rem;
    --space-fourth: 0.2rem
}

* {
    font-family: var(--inter);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

header {
    background-color: var(--primary-one);
    color: var(--primary-two);
}

main {
    width: 100vw;
}

p {
    font-family: var(--inter-tight);
}

.product-container {
    display: grid;
    place-items: center;
    gap: var(--space-big);
}

/* PRODUCT CARD */

.product-card {
    display: grid;
    place-items: center;
    gap: var(--space-half);
    max-width: 18rem;
    overflow: hidden;
}

.product-card h2 {
    font-size: 1.3rem;
}

.product-card img {
    clip-path: polygon(65% 0, 75% 15%, 75% 100%, 25% 100%, 25% 0);
}

/* SVG */

.tt-logo path {
    fill: white;
}

@media (min-width: 32.5rem) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}